card {
      margin-top: 50px;
    }

    .card-header {
      background-color: #007bff;
      color: #fff;
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
    }

    .btn-primary:hover {
      background-color: #0062cc;
      border-color: #005cbf;
    }

    .btn-secondary {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .btn-secondary:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }