{% extends "home.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <div class="card">
        <div class="card-header">
            Ver pacientes
        </div>
        {% if patients %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        {% if not is_assistant %}
                            <th>Acciones</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            <td>{{ patient.nombre }}</td>
                            <td>{{ patient.apellido_paterno }}</td>
                            <td>{{ patient.apellido_materno }}</td>
                            {% if not is_assistant %}
                                <td>
                                    <a href="{% url 'patient_detail' patient.id %}" class="btn btn-info ">
                                        <i class="fa-solid fa-circle-info mx-1" style="color: #202060;"></i>
                                        Detalles
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
            <a href="{% url 'home' %}" class="btn bg-azul text-white">
                <i class="fa-solid fa-arrow-left mx-1" style="color: #ffffff;"></i>
                Regresar a inicio
            </a>
    {% if not is_assistant %}
        <a href="{% url 'view_patients_pagination' %}" class="btn btn-info">
            <i class="fa-solid fa-list-ol mx-1" style="color: #202060;"></i>
            Ver con paginación
        </a>
    {% endif %}
    {% else %}
        <p>No hay pacientes registrados.</p>
    {% endif %}
    <a href="{% url 'view_list_patients' %}" class="btn btn-info">
        <i class="fa-solid fa-list-ul mx-1" style="color: #202060;"></i>
        Ver como lista
    </a>
{% endblock %}
